listen mysql {{ openstack_controller_internal_host }}:3306
  mode tcp
  option tcplog
  {% for host in groups[openstack_group_controller] -%}
  server {{ host }} {{ hostvars[host].ansible_hostname }}:3306{% if not loop.first %} backup{% endif %} check
  {% endfor %}

listen keystone-public {{ openstack_controller_internal_host }}:5000
  balance roundrobin
  option httpchk
  {% for host in groups[openstack_group_controller] -%}
  server {{ host }} {{ hostvars[host].ansible_hostname }}:5000 check
  {% endfor %}

listen keystone-admin {{ openstack_controller_internal_host }}:35357
  balance roundrobin
  option httpchk
  {% for host in groups[openstack_group_controller] -%}
  server {{ host }} {{ hostvars[host].ansible_hostname }}:35357 check
  {% endfor %}

listen glance-api {{ openstack_controller_internal_host }}:9292
  balance roundrobin
  option httpchk
  {% for host in groups[openstack_group_controller] -%}
  server {{ host }} {{ hostvars[host].ansible_hostname }}:9292 check
  {% endfor %}

listen glance-registry {{ openstack_controller_internal_host }}:9191
  balance roundrobin
  {% for host in groups[openstack_group_controller] -%}
  server {{ host }} {{ hostvars[host].ansible_hostname }}:9191 check
  {% endfor %}

listen cinder-api {{ openstack_controller_internal_host }}:8776
  balance roundrobin
  option httpchk
  {% for host in groups[openstack_group_controller] -%}
  server {{ host }} {{ hostvars[host].ansible_hostname }}:8776 check
  {% endfor %}

listen nova-api {{ openstack_controller_internal_host }}:8774
  balance roundrobin
  option httpchk
  {% for host in groups[openstack_group_controller] -%}
  server {{ host }} {{ hostvars[host].ansible_hostname }}:8774 check
  {% endfor %}

listen nova-api-metadata {{ openstack_controller_internal_host }}:8775
  balance roundrobin
  option httpchk
  {% for host in groups[openstack_group_controller] -%}
  server {{ host }} {{ hostvars[host].ansible_hostname }}:8775 check
  {% endfor %}

listen nova-novncproxy {{ openstack_controller_internal_host }}:6080
  balance roundrobin
  option httpchk HEAD /
  {% for host in groups[openstack_group_controller] -%}
  server {{ host }} {{ hostvars[host].ansible_hostname }}:6080 check
  {% endfor %}

listen neutron-api {{ openstack_controller_internal_host }}:9696
  balance roundrobin
  option httpchk
  {% for host in groups[openstack_group_controller] -%}
  server {{ host }} {{ hostvars[host].ansible_hostname }}:9696 check
  {% endfor %}

listen heat-api {{ openstack_controller_internal_host }}:8004
  balance roundrobin
  option httpchk
  {% for host in groups[openstack_group_controller] -%}
  server {{ host }} {{ hostvars[host].ansible_hostname }}:8004 check
  {% endfor %}

listen heat-api-cfn {{ openstack_controller_internal_host }}:8000
  balance roundrobin
  option httpchk
  {% for host in groups[openstack_group_controller] -%}
  server {{ host }} {{ hostvars[host].ansible_hostname }}:8000 check
  {% endfor %}

listen horizon {{ openstack_controller_internal_host }}:3000
  balance roundrobin
  {% for host in groups[openstack_group_controller] -%}
  server {{ host }} {{ hostvars[host].ansible_hostname }}:3000 check
  {% endfor %}

listen swift-proxy {{ openstack_controller_internal_host }}:8080
  balance roundrobin
  option httpchk HEAD /healthcheck
  {% for host in groups[openstack_group_controller] -%}
  server {{ host }} {{ hostvars[host].ansible_hostname }}:8080 check
  {% endfor %}
