#!/bin/bash
export ST_AUTH_VERSION=2.0
export OS_IDENTITY_API_VERSION=2.0
export OS_VOLUME_API_VERSION=2
export OS_TENANT_NAME=demo
export OS_USERNAME=demo
export OS_PASSWORD=demo
export OS_AUTH_URL="http://localhost:5000/v2.0"
