[submodule "roles/rabbitmq"]
	path = roles/rabbitmq
	url = git@github.com:ianunruh/ansible-role-rabbitmq.git
[submodule "roles/apt"]
	path = roles/apt
	url = git@github.com:ianunruh/ansible-role-apt.git
[submodule "roles/bind"]
	path = roles/bind
	url = git@github.com:ianunruh/ansible-role-bind.git
