[DEFAULT]
auth_strategy = keystone
rpc_backend = rabbit

host = {{ cinder_host }}
my_ip = {{ cinder_my_ip }}

storage_availability_zone = {{ cinder_az }}

{% if cinder_component_api %}
osapi_volume_workers = {{ cinder_api_workers }}
{% endif %}

{% if cinder_component_volume %}
glance_host = {{ cinder_glance_host }}

{% if cinder_backends %}
enabled_backends = {{ cinder_backends.keys()|join(',') }}

{% for backend_name, options in cinder_backends.iteritems() %}
[{{ backend_name }}]
{% for key, value in options.iteritems() %}
{{ key }} = {{ value }}
{% endfor %}
{% endfor %}
{% endif %}
{% endif %}

[database]
connection = mysql://{{ cinder_mysql_user }}:{{ cinder_mysql_password }}@{{ cinder_mysql_host }}/{{ cinder_mysql_db }}

[keystone_authtoken]
identity_uri = {{ cinder_keystone_identity_uri }}
auth_uri = {{ cinder_keystone_auth_uri }}
admin_user = {{ cinder_keystone_user }}
admin_password = {{ cinder_keystone_password }}
admin_tenant_name = {{ cinder_keystone_project }}

[oslo_messaging_rabbit]
rabbit_hosts = {{ cinder_rabbitmq_hosts|join(',') }}
rabbit_userid = {{ cinder_rabbitmq_user }}
rabbit_password = {{ cinder_rabbitmq_password }}
rabbit_virtual_host = {{ cinder_rabbitmq_vhost }}

[oslo_concurrency]
lock_path = $state_path/lock
