[DEFAULT]
bind_host = {{ glance_listen_address }}

workers = {{ glance_api_workers }}

show_image_direct_url = True

registry_host = {{ openstack_controller_internal_host }}

[glance_store]
stores = {{ glance_stores|join(',') }}
default_store = {{ glance_default_store }}

filesystem_store_datadir = /var/lib/glance/images

rbd_store_user = glance
rbd_store_pool = images

swift_store_auth_address = {{ glance_swift_auth_url }}
swift_store_user = {{ glance_swift_user }}
swift_store_key = {{ glance_swift_key }}
swift_store_region = {{ glance_swift_region }}
swift_store_create_container_on_put = True

[database]
connection = mysql://{{ glance_mysql_user }}:{{ glance_mysql_password }}@{{ glance_mysql_host }}/{{ glance_mysql_db }}

[keystone_authtoken]
identity_uri = {{ glance_keystone_identity_uri }}
auth_uri = {{ glance_keystone_auth_uri }}
admin_user = {{ glance_keystone_user }}
admin_password = {{ glance_keystone_password }}
admin_tenant_name = {{ glance_keystone_project }}

[paste_deploy]
flavor = keystone
