[DEFAULT]
auth_uri = {{ neutron_keystone_auth_uri }}
auth_url = {{ neutron_keystone_identity_uri }}
auth_region = {{ openstack_region }}
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = {{ neutron_keystone_project }}
username = {{ neutron_keystone_user }}
password = {{ neutron_keystone_password }}

nova_metadata_ip = {{ neutron_nova_metadata_ip }}
metadata_proxy_shared_secret = {{ neutron_metadata_proxy_shared_secret }}
