[DEFAULT]
auth_strategy = keystone
rpc_backend = rabbit

[database]
connection = mongodb://{{ ceilometer_mongodb_user }}:{{ ceilometer_mongodb_password }}@{{ ceilometer_mongodb_host }}/{{ ceilometer_mongodb_db }}

metering_time_to_live = {{ ceilometer_ttl }}
event_time_to_live = {{ ceilometer_ttl }}

[keystone_authtoken]
identity_uri = {{ ceilometer_keystone_identity_uri }}
auth_uri = {{ ceilometer_keystone_auth_uri }}
admin_user = {{ ceilometer_keystone_user }}
admin_password = {{ ceilometer_keystone_password }}
admin_tenant_name = {{ ceilometer_keystone_project }}

[oslo_messaging_rabbit]
rabbit_hosts = {{ ceilometer_rabbitmq_hosts|join(',') }}
rabbit_userid = {{ ceilometer_rabbitmq_user }}
rabbit_password = {{ ceilometer_rabbitmq_password }}
rabbit_virtual_host = {{ ceilometer_rabbitmq_vhost }}

[service_credentials]
os_auth_url = http://{{ openstack_controller_internal_host }}:5000/v2.0
os_username = {{ ceilometer_keystone_user }}
os_password = {{ ceilometer_keystone_password }}
os_tenant_name = {{ ceilometer_keystone_project }}
os_endpoint_type = internalURL

[publisher]
telemetry_secret = {{ ceilometer_secret }}
