[MIDONET]
midonet_uri = {{ midonet_keystone_midonet_endpoints.internal }}
username = {{ midonet_keystone_user }}
password = {{ midonet_keystone_password }}
project_id = {{ midonet_keystone_project }}
