[DEFAULT]
compute_driver = libvirt.LibvirtDriver

[libvirt]
virt_type = {{ nova_compute_libvirt_virt_type }}

images_type = {{ nova_compute_libvirt_images_type }}

{% if nova_compute_libvirt_images_type == "rbd" %}
images_rbd_pool = vms
images_rbd_ceph_conf = /etc/ceph/ceph.conf
rbd_user = cinder
rbd_secret_uuid = {{ nova_rbd_secret_uuid }}

disk_cachemodes = "network=writeback"
inject_password = false
inject_key = false
inject_partition = -2

live_migration_flag = "VIR_MIGRATE_UNDEFINE_SOURCE,VIR_MIGRATE_PEER2PEER,VIR_MIGRATE_LIVE,VIR_MIGRATE_PERSIST_DEST,VIR_MIGRATE_TUNNELLED"

hw_disk_discard = unmap
{% endif %}
