[DEFAULT]
rpc_backend = rabbit

[service:api]
enable_api_v1 = True
enable_api_v2 = True

api_base_uri = {{ designate_keystone_dns_endpoints.public }}

[keystone_authtoken]
identity_uri = {{ designate_keystone_identity_uri }}
auth_uri = {{ designate_keystone_auth_uri }}
admin_user = {{ designate_keystone_user }}
admin_password = {{ designate_keystone_password }}
admin_tenant_name = {{ designate_keystone_project }}

[service:central]
default_pool_id = {{ designate_central_default_pool_id }}

[storage:sqlalchemy]
connection = mysql://{{ designate_mysql_user }}:{{ designate_mysql_password }}@{{ designate_mysql_host }}/{{ designate_mysql_db }}

[service:mdns]

[oslo_concurrency]
lock_path = $state_path/lock

[oslo_messaging_rabbit]
rabbit_hosts = {{ designate_rabbitmq_hosts|join(',') }}
rabbit_userid = {{ designate_rabbitmq_user }}
rabbit_password = {{ designate_rabbitmq_password }}
rabbit_virtual_host = {{ designate_rabbitmq_vhost }}

[service:pool_manager]
pool_id = {{ designate_pool_manager_pool_id }}
cache_driver = memcache

[pool_manager_cache:memcache]
memcached_servers = {{ designate_memcache_servers|join(',') }}
expiration = 3600

{% for name, options in designate_pools.iteritems() %}
[pool:{{ name }}]
nameservers = {{ options.nameservers|join(',') }}
targets = {{ options.targets|join(',') }}
{% endfor %}

{% for name, options in designate_pool_nameservers.iteritems() %}
[pool_nameserver:{{ name }}]
host = {{ options.host }}
port = {{ options.port }}
{% endfor %}

{% for name, options in designate_pool_targets.iteritems() %}
[pool_target:{{ name }}]
type = {{ options.type }}
host = {{ options.host }}
port = {{ options.port }}
masters = {{ options.masters|join(',') }}
options = {% for key, value in options.options.iteritems() %}{% if loop.index > 1 %}, {% endif %}{{ key }}: {{ value }}{% endfor %}
{% endfor %}
