[DEFAULT]
logdir = /var/log/nova
lock_path = /var/lock/nova
state_path = /var/lib/nova

auth_strategy = keystone
rpc_backend = rabbit

my_ip = {{ nova_my_ip }}

host = {{ nova_host }}

memcached_servers = {{ nova_memcache_servers|join(',' ) }}

network_api_class = nova.network.neutronv2.api.API
security_group_api = neutron
linuxnet_interface_driver = nova.network.linux_net.LinuxOVSInterfaceDriver
firewall_driver = nova.virt.firewall.NoopFirewallDriver

enabled_apis = osapi_compute, metadata
metadata_workers = {{ nova_api_workers }}
osapi_compute_workers = {{ nova_api_workers }}

scheduler_default_filters = {{ nova_scheduler_default_filters|join(',') }}
cpu_allocation_ratio = {{ nova_cpu_allocation_ratio }}
disk_allocation_ratio = {{ nova_disk_allocation_ratio }}
ram_allocation_ratio = {{ nova_ram_allocation_ratio }}
ram_weight_multiplier = {{ nova_ram_weight_multiplier }}

[conductor]
workers = {{ nova_conductor_workers }}

[database]
connection = mysql://{{ nova_mysql_user }}:{{ nova_mysql_password }}@{{ nova_mysql_host }}/{{ nova_mysql_db }}

[glance]
host = {{ nova_glance_host }}

[keystone_authtoken]
identity_uri = {{ nova_keystone_identity_uri }}
auth_uri = {{ nova_keystone_auth_uri }}
admin_user = {{ nova_keystone_user }}
admin_password = {{ nova_keystone_password }}
admin_tenant_name = {{ nova_keystone_project }}

[neutron]
url = {{ nova_neutron_url }}
auth_strategy = keystone
admin_auth_url = {{ nova_neutron_auth_url }}
admin_tenant_name = {{ nova_neutron_project }}
admin_username = {{ nova_neutron_user }}
admin_password = {{ nova_neutron_password }}

service_metadata_proxy = True
metadata_proxy_shared_secret = {{ nova_metadata_proxy_shared_secret }}

[oslo_messaging_rabbit]
rabbit_hosts = {{ nova_rabbitmq_hosts|join(',') }}
rabbit_userid = {{ nova_rabbitmq_user }}
rabbit_password = {{ nova_rabbitmq_password }}
rabbit_virtual_host = {{ nova_rabbitmq_vhost }}

[oslo_concurrency]
lock_path = $state_path/lock
